/**
 * dailyspread.css
 * This file contains the CSS styles for the Daily Spread page.
 * Color pallete: 
 *  (light red:) #FF6C6C
 *  (pink:) #FFBFB7
 *  (dull-pink:) #E3BCBA
 *  (pink-ish brown::) #7D4F50
 *  (orange:) #ED8839
 */

/* header a {
  text-decoration: none;
  color: #7d4f50;
  padding-left: 5vh;
  padding-right: 5vh;
  font-size: 3vh;
}


header p {
  display: inline-block;
  color: #ed8839;
  font-size: 1.25rem;
  padding-right: 2vw;
} */

#username {
  margin: 0;
  color: #d8b76e;
}

.greeting {
  grid-column: 1 / 9;
  text-align: center;
  color: #7d4f50;
  padding-top: 2vh;
}

.greeting h2 {
  font-size: 40px;
}

.sign-container {
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.sign-label {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.sign-text {
  font-size: 24px;
  color: #d8b76e;
}

.content {
  width: 100%;
  max-width: 1600px; /* fixed or max-width */
  margin: 0 auto; /* this centers the block horizontally */
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.item-container {
  background-color: #ffbfb7;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  width: 200px;
  text-align: center;
}

.item-label {
  font-size: 22px;
  font-weight: bold;
  color: #7d4f50;
  margin-bottom: 0.5rem;
  display: block;
}

.item-text {
  font-size: 18px;
  color: #cecece;
}

#zodiac-picture {
  width: 20vh;
  height: 20vh;
}

#share {
  padding-bottom: 4em;
}

#generateHoroscopeBtn {
  display: block;
  margin: 2rem auto;
}

@media (max-width: 600px) {
  .content {
    display: flex;
    flex-wrap: wrap; /* allow wrapping on small screens */
    flex-direction: column; /* stack vertically on small screens */
  }
}
