.settings-container {
  max-width: 600px;
  margin: 120px auto;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 15px;
  border: 2px solid #e3bcba;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #d8b76e;
  margin-bottom: 25px;
}

label {
  color: #7d4f50;
  margin-top: 15px;
  display: block;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 2px solid #7d4f50;
  border-radius: 10px;
  margin-top: 5px;
  background-color: #fff;
  font-family: 'Noto Serif', serif;
}

.dob-fields {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

button {
  background-color: #d8b76e;
  color: white;
  border: none;
  padding: 12px;
  margin-top: 25px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #d7732f;
}

#clearButton {
  background-color: rgb(237, 68, 68);
}

#clearButton:hover {
  background-color: rgb(167, 5, 5);
}
