.settings-container {
  max-width: 600px;
  margin: 100px auto;
  padding: 40px;
  background-color: #ffffff; /* pure white */
  border-radius: 15px;
  border: 2px solid #1e2a52; /* dark blue border */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #1e2a52; /* dark blue */
  margin-bottom: 25px;
}

label {
  color: #1e2a52;
  margin-top: 15px;
  display: block;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 2px solid #d8b76e;
  border-radius: 10px;
  margin-top: 5px;
  background-color: #fff;
  color: #1e2a52;
  font-family: 'Noto Serif', serif;
}

.dob-fields {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

input[type='text'],
.dob-fields input {
  border: 2px solid #d8b76e;
  color: #1e2a52;
}

button {
  background-color: #1e2a52;
  color: white;
  border: none;
  padding: 12px;
  margin-top: 25px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.save-btn {
  background-color: #d8b76e; /* gold */
  color: white;
}

.save-btn:hover {
  background-color: #c7a556;
}

button:hover {
  background-color: #2c3e75;
}

#clearButton {
  background-color: #a94442;
  margin-top: 15px;
}

#clearButton:hover {
  background-color: #922d2d;
}
