/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Noto Serif', serif;
  font-weight: bold;
  background-image: url('./images/paul-volkmer-stars.jpg');
  background-position: center;
  background-size: cover;
  background-color: #070614;
  overflow-x: hidden;
  width: 100vw;
  padding-top: 3vh;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main.page-wrapper {
  flex: 1;
}

header {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 9vh;
  display: flex;
  font-weight: bold;
  z-index: 1000;
  font-size: 1em;
}

navigation-bar {
  width: 100%;
}

/* Global Typography */
h1 {
  color: #d8b76e;
  font-size: 40px;
  margin-bottom: 20px;
}

h2 {
  color: white;
}

label {
  display: block;
  margin: 10px 0 0px;
  color: #7d4f50;
}

p {
  color: white;
}

/* Inputs & Buttons */
input[type='text'],
input[type='password'],
select {
  width: 100%;
  padding: 10px;
  border: 2px solid #d8b76e;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 5px;
  background-color: #fff;
}

select {
  background-color: #d8b76e;
  border-color: #e3bcba;
  color: white;
  width: 300px;
}

select:focus {
  outline: none;
  border: 2px solid #e3bcba;
}

button {
  background-color: #d8b76e;
  border-color: #d8b76e;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 20px;
  display: block;
  width: 200px;
}

button:hover {
  background-color: #d7732f;
  border-color: #d7732f;
}

/* Footer */
footer {
  background-color: rgba(20, 26, 51, 0.158);
  border-top: 2px solid rgba(17, 23, 46, 0.9);
  color: white;
  text-align: center;
  padding: 1vh 1rem;
  margin-top: 3vh;
  font-family: 'Noto Serif', serif;
  font-weight: bold;
  width: 100%;
}

footer p {
  color: lightslategray;
  font-weight: normal;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}

footer a {
  color: #52452a;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: #361d0c;
  text-decoration: underline;
}

.sweet-logo {
  width: 40px;
  height: auto;
  filter: drop-shadow(0 0 3px #d8b76e88);
  opacity: 0.6;
}
