/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'EB Garamond', serif;
  background-color: #fff;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

/* Global Header */
.top-bar {
  background-color: #e3bcba;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.top-bar h2 {
  margin: 0;
  font-size: 20px;
  color: #7d4f50;
}

/* Global Typography */
h1 {
  color: #7d4f50;
  font-size: 40px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 10px 0 0px;
  color: #7d4f50;
}

/* Inputs & Buttons */
input[type='text'],
input[type='password'],
select {
  width: 100%;
  padding: 10px;
  border: 2px solid #7d4f50;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 5px;
  background-color: #fff;
}

select {
  background-color: #ed8839;
  border-color: #e3bcba;
  color: white;
  width: 300px;
}

select:focus {
  outline: none;
  border: 2px solid #e3bcba;
}

button {
  background-color: #ed8839;
  border-color: #e3bcba;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 20px;
  display: block;
  width: 200px;
}

button:hover {
  background-color: #d7732f;
}
