#greeting {
  font-size: 24px;
  text-align: center;
  margin-top: 30px;
  color: #7d4f50;
}

#daily-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px;
}

#daily-spread {
  background-color: #fbeee0;
  border: 2px solid #e3bcba;
  padding: 20px;
  border-radius: 15px;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

#username,
#horoscope,
#account,
#tarot {
  font-size: 18px;
  margin: 10px 0;
  color: #7d4f50;
}
